body {
    background: #FFF9D8; /* pastel yellow aesthetic */
    margin: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.title {
    margin-top: 30px;
    font-size: 40px;
    color: #e29d00;
}

.selection-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.option {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.25s ease;
}

.option:hover {
    transform: scale(1.07);
}

.pet-img {
    width: 150px;
}
